.root {
  display: flex;
  flex-direction: column;
  gap: var(--size-spacing-4);
  padding: var(--size-spacing-5);
}

.links {
  display: flex;
  flex-direction: column;
  gap: var(--size-spacing-2);

  a:hover {
    text-decoration: underline;
  }
}
